body {
  margin: 0;
  padding: 0;
  margin-bottom: 90px !important;
  width: 100%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  min-height: 100%;
  position: relative;
}

button:active {
  outline: none !important;
  border: none !important;
}

button:focus {outline:0 !important;}